# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/

# n8n local data and databases
.n8n/
database.sqlite
binaryData/

# Node
node_modules/

# Local databases and production logs
*.db
*.xlsx
*.log

# Sensitive credentials & environment variables
.env
credentials.json
D:/AI Job Automation/
